<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>658913574423-c1stcrcce3dlvn4gmq8r1pgfrikrq9f3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658913574423-c1stcrcce3dlvn4gmq8r1pgfrikrq9f3</string>
	<key>API_KEY</key>
	<string>AIzaSyA3E7f2AA5P25qTC7wGTlA9ydrjN0-MoSk</string>
	<key>GCM_SENDER_ID</key>
	<string>658913574423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sonkar.PUMBA</string>
	<key>PROJECT_ID</key>
	<string>newsapptest-5e5b4</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapptest-5e5b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658913574423:ios:18f365aaa5d9511a</string>
	<key>DATABASE_URL</key>
	<string>https://newsapptest-5e5b4.firebaseio.com</string>
</dict>
</plist>